@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 15%);
  }
  100% {
    background-color: hsl(200, 20%, 25%);
  }
}

.skeleton {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  animation: skeleton-loading 1s linear infinite alternate;
}
