$break_points: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin mediaquery($label) {
  $dimension: map-get($break_points, $label);

  @if ($dimension) {
    @media (max-width: ($dimension - 0.02)) {
      @content;
    }
  } @else {
    @error "The breakpoint with label #{$label} does not exist";
  }
}
