@mixin flex($h-center: null, $v-center: null, $direction: row) {
  display: flex;
  flex-direction: $direction;

  @if ($h-center) {
    justify-content: center;
  }

  @if ($v-center) {
    align-items: center;
  }
}

@mixin fit-frame($fit-mode: cover) {
  width: 100%;
  height: 100%;
  object-fit: $fit-mode;
}
